.bank-menu-cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bank-menu-cards-cell {
  text-align: center;
  border-left: solid 1px #ccc;
  width: 20%;

  a {
    text-decoration: none;
    color: #00008B;
  }

  &:first-child {
    width: 45%;
    border: none;
  }

  &:last-child {
    width: 15%;
  }

  h4,
  p {
    font-size: 12px;
  }

  h4 {
    margin-bottom: 5px;
  }
}