.bank-page {
  max-width: 1200px;
  margin: 0 auto;
}

/* Menu Items */
.bank-menu {
  display: flex;
  padding: 10px;
  gap: 40px;
}

.bank-menu-infos {
  width: 60%;
}

.bank-menu-other-infos {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  width: 30%;
  gap: 10px;
}

.menu-item {
  background: #fff;
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.menu-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


/* bank cards */
.bank-menu-cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bank-menu-cards-cell {
  text-align: center;
  border-left: solid 1px #ccc;
  width: 20%;
}

.bank-menu-cards-cell:first-child {
  width: 45%;
  border: none;
}

.bank-menu-cards-cell:last-child {
  width: 15%;
}

.bank-menu-cards-cell h4,
.bank-menu-cards-cell p {
  font-size: 12px;
}

.bank-menu-cards-cell h4 {
  margin-bottom: 5px;
}