.loans {
    .loans-info-banner {
        display: flex;
        align-items: center;
        background-color: #106eb0;
        color: #fff;
        padding: 10px 15px;
        font-size: 14px;

        p {
            padding-left: 10px;
        }
    }

    .loans-info {
        position: relative;
        margin-top: 10px;

        .loans-info-input {
            height: 40px;
            width: 100%;

            input {
                height: 40px;
                width: 100%;
                padding: 10px 15px;
                font-size: 14px;
                box-sizing: border-box;
            }

            label {
                display: none;
            }
        }

        .loans-info-button {
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
}

.loans-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-height: 50%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow:  24px;
    padding: 30px;
}