/* Page container */
.bank-page {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.bank-header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
}

.bank-logo {
  height: 50px;
  width: 50px;
}

.bank-user-info {
  font-size: 0.85rem;
  color: #666;
}

.bank-ad p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.btn-register {
  background-color: #cc6e00; /* Darker orange for button */
  color: #fff;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #ff9200; /* Lighter orange on hover */
}

/* Menu Items */
.bank-menu {
  display: flex;
  padding: 10px;
  gap: 40px;
}

.bank-menu-infos {
  width: 50%;
}

.bank-menu-other-infos {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  width: 30%;
  gap: 10px;
}

.menu-item {
  background: #fff;
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: center;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.menu-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.bank-menu-cards {

}

.bank-menu-cards-header,
.bank-menu-cards-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-menu-cards-header h4,
.bank-menu-cards-content p {
  width: 30%;
  text-align: right;
}

.bank-menu-cards-header h4:first-child,
.bank-menu-cards-content p:first-child {
  width: 60%;
  text-align: left;
}


/* Footer */
.bank-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}